<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact <strong>Translogic International</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3370.390177355401!2d-86.29488408555302!3d32.355077112687844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888e81a9213c6273%3A0xf146fa785944bf78!2s1555+Cottage+Pl%2C+Montgomery%2C+AL+36106%2C+USA!5e0!3m2!1sen!2smy!4v1482613985310" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <p>Phone: <strong>206.333.0853</strong>
                    </p>
                    <p>Email: <strong>translogisticsintl@post.com</strong>
                    </p>
                    <p>Address: <strong>The Plaza<br>1555 Cottage Pl.<br>Montgomery, AL 36101</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact <strong>form</strong>
                    </h2>
                    <hr>
                    <p>This contact form is just the form elements, it is not a working form. You will have to make the form work by yourself, or take it out if you can't figure out how to make it work.</p>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->

    </div>




<!-- <div class="container bootstrap snippets">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="contact-detail-box">

            <h4>Get In Touch</h4>
            <abbr title="Phone">P:</abbr> 206-333-0853<br>
            E: <a href="mailto:translogisticsintl@post.com" class="text-muted">translogisticsintl@post.com</a>
          </div>
        </div>
 -->
        <!-- <div class="col-sm-4">
          <div class="contact-detail-box">

            <h4>Our Location</h4>

            <address>
              <p>
              <strong><h6>America Location</h6></strong>
            1555 Cottage Pl.<br>
            Montgomery, AL, 36101, U.S.A<br>
            </p>

            <p>
              <strong><h6>Europe Location</h6></strong>
              119 Vyse St, Hockley  <br>
              Birmingham  <br>
              B18 6JS, UK <br>
            </p>

            <p>
              <strong><h6>Middle-East Location</h6></strong>
              Marrakech Street, Garhoud, Next to Al Mawakeb School <br>
              PO BOX: 99999 <br>
              Dubai, United Arab Emirates <br>
            </p>

            <p>
              <strong><h6>Asia Location</h6></strong>
              Jalan Besar, Kampung Changkat Semambu  <br>
              34500  <br>
              Batu Kurau, Perak, Malaysia <br>
            </p>
          </address>
          </div> -->
       <!--  </div> --><!-- end col -->



      <!-- </div> -->
      <!-- end row -->


    <!-- </div> -->
