<div class="container bootstrap snippets">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="contact-detail-box">

            <h4>Get In Touch</h4>
            <abbr title="Phone">P:</abbr> 206-333-0853<br>
            E: <a href="mailto:translogisticsintl@post.com" class="text-muted">translogisticsintl@post.com</a>
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">

            <h4>Our Location</h4>

            <address>
              <p>
              <strong><h6>America Location</h6></strong>
            1555 Cottage Pl.<br>
            Montgomery, AL, 36101, U.S.A<br>
            </p>

            <p>
              <strong><h6>Europe Location</h6></strong>
              119 Vyse St, Hockley  <br>
              Birmingham  <br>
              B18 6JS, UK <br>
            </p>

            <p>
              <strong><h6>Middle-East Location</h6></strong>
              Marrakech Street, Garhoud, Next to Al Mawakeb School <br>
              PO BOX: 99999 <br>
              Dubai, United Arab Emirates <br>
            </p>

            <p>
              <strong><h6>Asia Location</h6></strong>
              Jalan Besar, Kampung Changkat Semambu  <br>
              34500  <br>
              Batu Kurau, Perak, Malaysia <br>
            </p>
          </address>
          </div>
        </div><!-- end col -->



      </div>
      <!-- end row -->


      <div class="row">

        <!-- Contact form -->
        <!-- <div class="col-sm-6">
          <form role="form" action="https://formsubmit.io/send/kumarmconsultants@gmail.com" method="post" class="form-main">

            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" id="name" name="name" type="text" placeholder="Name">
              <div class="error" id="err-name" style="display: none;">Please enter name</div> -->
            </div> <!-- /Form-name -->

            <!-- <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" id="email" name="email" type="text" placeholder="E-mail">
              <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> -->
            </div> <!-- /Form-email -->

            <!-- <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message Here"></textarea>

              <div class="error" id="err-message" style="display: none;">Please enter message</div> -->
            </div> <!-- /col -->

            <!-- <div class="row">
              <div class="col-xs-12">

                <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Submit</button> -->
              </div> <!-- /col -->
            </div> <!-- /row -->

          </form> <!-- /form -->
        </div> <!-- end col -->

      </div> <!-- end row -->

    </div>
