<div class="container bootstrap snippets">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="contact-detail-box">

            <h4>Get In Touch</h4>
            <abbr title="Phone">P:</abbr> (58) 414-357.61.81<br>
            E: <a href="mailto:carmenestelasi@gmail.com" class="text-muted">carmenestelasi@email.com</a>
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">

            <h4>Our Location</h4>

            <address>
            Carrera 15 entre 43 y 44.<br>
            Barquisimeto, Venezuela<br>
          </address>
          </div>
        </div><!-- end col -->



      </div>
      <!-- end row -->


      <div class="row">

        <!-- Contact form -->
        <!-- <div class="col-sm-6">
          <form role="form" action="https://formsubmit.io/send/kumarmconsultants@gmail.com" method="post" class="form-main">

            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" id="name" name="name" type="text" placeholder="Name">
              <div class="error" id="err-name" style="display: none;">Please enter name</div> -->
            </div> <!-- /Form-name -->

            <!-- <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" id="email" name="email" type="text" placeholder="E-mail">
              <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> -->
            </div> <!-- /Form-email -->

            <!-- <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message Here"></textarea>

              <div class="error" id="err-message" style="display: none;">Please enter message</div> -->
            </div> <!-- /col -->

            <!-- <div class="row">
              <div class="col-xs-12">

                <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Submit</button> -->
              </div> <!-- /col -->
            </div> <!-- /row -->

          </form> <!-- /form -->
        </div> <!-- end col -->

      </div> <!-- end row -->

    </div>
