<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
  <div class="container">
    <h1>How May I help You?</h1>
    <p>Have a unique shipping need? Require logistics services support? FastEx Logistics International provides delivery specialists that offer a variety of support services for all types of specialized delivery and logistical needs. </p><a href="contact" class="btn btn-primary btn-lg">Contact Us Today &raquo;</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>About Us</h2>
      <p>We bring transportation intelligence to business using our system of drivers and partners to provide customized courier solutions, giving you meaningful and measurable advantages.</p><a href="about" class="btn btn-default">View Details</a>
    </div>
    <div class="col-md-4">
      <h2>Track Package</h2>
      <p>With FLI, you are always guaranteed an efficient and cost effective solution to moving your goods around the country or around the world. No job is ever too near, too far, too big or too small.</p><a href="track" class="btn btn-default">Track Shipment</a>
    </div>
    <div class="col-md-4">
      <h2>Contact Us</h2>
      <p>We work with small, local companies to Fortune 500 corporations with a national footprint. Our greatest asset is our extensive menu of courier services that allow us to customize our solutions to meet each client’s need.</p><a href="contact" class="btn btn-default">View Details</a>
    </div>
  </div>
</div>
  </body>
</html>
